.header-cotizaciones {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
};

.body-cotizaciones, th {
  background-color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}