:root {
    --main-color: #e11d1b;
    --secondary-color: #821542;
}

.app {
    background-color: #f6f8f9;
    min-height: 100vh;
}
input:focus {
    box-shadow: 0 0 1px 1px var(--main-color)!important;
    padding-left: .5em!important;
}

select:active, select:focus  {
   outline: 1px solid var(--main-color);  
}

.w-shadow {
    box-shadow: 0 0 3px 0 #AAA;
}

.w-container {
    box-shadow: 0 0 3px 0 #AAA;
    background-color: #FFF;
}

.controls .primary-button {
    height: 2.2em;
    border-radius: 2em;
    
    color: #FFF;
    background-color: var(--main-color);
    padding: .4em 1.5em;

    text-transform: none;
    font-size: 11pt;
    font-weight: 400;
}
.controls .secondary-button {
    height: 2.2em;
    border-radius: 2em;
    
    background: none;
    color: var(--main-color);
    border: 1px solid var(--main-color)!important;
    box-shadow: none;
    padding: .4em 1.5em;

    text-transform: none;
    font-size: 11pt;
    font-weight: 400;
}
.controls .primary-button:hover, .controls .secondary-button:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color)!important;
    color: #FFF;
}

.controls {
    padding: 0;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.no-mar {
    margin: 0;
}
.fx-end{
    justify-content: flex-end;
}