:root {
    --main-color: #e11d1b;
    --secondary-color: #821542;
}

.app {
    background-color: #f6f8f9;
    min-height: 100vh;
}
input:focus {
    box-shadow: 0 0 1px 1px var(--main-color)!important;
    padding-left: .5em!important;
}

select:active, select:focus  {
   outline: 1px solid var(--main-color);  
}

.w-shadow {
    box-shadow: 0 0 3px 0 #AAA;
}

.w-container {
    box-shadow: 0 0 3px 0 #AAA;
    background-color: #FFF;
}

.controls .primary-button {
    height: 2.2em;
    border-radius: 2em;
    
    color: #FFF;
    background-color: var(--main-color);
    padding: .4em 1.5em;

    text-transform: none;
    font-size: 11pt;
    font-weight: 400;
}
.controls .secondary-button {
    height: 2.2em;
    border-radius: 2em;
    
    background: none;
    color: var(--main-color);
    border: 1px solid var(--main-color)!important;
    box-shadow: none;
    padding: .4em 1.5em;

    text-transform: none;
    font-size: 11pt;
    font-weight: 400;
}
.controls .primary-button:hover, .controls .secondary-button:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color)!important;
    color: #FFF;
}

.controls {
    padding: 0;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.no-mar {
    margin: 0;
}
.fx-end{
    justify-content: flex-end!important;
}
.fx-end > .MuiButton-root {
    margin-left: 1em;
}


/*  FORMS  */

.form {
    padding: 1em 1.3em 2em 1.3em;
    background-color: #FFF;
}

.form h5 {
    font-size: 12p;
    font-weight: 600;
}

.form label {
    font-size: 10.8pt;
    font-weight: 400;
    color: #777;
    margin-top: 2em;
}

.form input, .form select  {
    border: solid 1px #CCC!important;
    display: inline-block;
    padding: 0;
}

.f-row {
    display: flex;
    margin: 0 0 .5em 0;
}
.f-row > * {
    width: 100%;
    margin-left: .8em!important;
}
.f-cols > .f-col {
    width: 100%;
    margin-left: 1.2em;
}
.f-row > *:first-child, .f-cols > .f-col:first-child {
    margin-left: 0!important;
}

.w30 {width: 30%!important;}
.w40 {width: 40%!important;}
.w50 {width: 50%!important;}

.f-cols {
    display: flex;
    margin: 0 0 1em 0;
}

.form .f-row input, .form .f-row select {
    margin:  0;
    height: auto;
    padding: .5em;
}

.form p {
    margin: 0;
}

.form .anotation {
    position: absolute;
    font-size: 10.5pt;
    color: #999;
}

.f-label {
    margin: .6em 0 .1em .2em;
}
.f-label label{
    font-size: 11pt;
    font-weight: 400;
}

.form .f-check-row {
    color: #AAA;
    font-weight: 400;
}
.form .f-check-row input[type="checkbox"] {
    position: relative;
    opacity: 1;
    pointer-events: revert;
    margin-right: .5em;
}
.form .f-check-row input[type="checkbox"]:focus {
   box-shadow: none!important;
}

.m-top {
    margin-top: 2em;
}